In [ ]:
# List:

--It is a COntainer
--It can take multiple data types
-- List is mutable(you can replace or add data in list)
-- It comes with square braces

In [1]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a)
print(type(a))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>

In [22]:
#? Why double quotes is not there for true
a = ["kavin",True, 2.0]
print (a)

['kavin', True, 2.0]

In [23]:
a = True
print(type(a))

<class 'bool'>

In [24]:
a = [1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [25]:
a.append(6)
print(a)

[1, 2, 3, 4, 5, 6]

In [26]:
a.append(7)
print(a)

[1, 2, 3, 4, 5, 6, 7]

In [27]:
a.append("Kavin")
print(a)

[1, 2, 3, 4, 5, 6, 7, 'Kavin']

In [33]:
a.extend(["Navin","Pravin"])
print(a)

[1, 2, 3, 5, 6, 7, 'Kavin', 'Navin', 'Pravin', 'Navin', 'Pravin']

In [36]:
a.remove(6)
print(a)

[1, 2, 3, 5, 7, 'Kavin', 'Navin', 'Pravin', 'Navin', 'Pravin']

In [24]:
ab = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
print(ab)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [25]:
ab[-1]

16

In [26]:
ab[0]

1

In [27]:
ab[5]

6

In [28]:
ab[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [29]:
ab[:9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
ab[0:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [31]:
ab[-2]

15

In [32]:
ab.insert(0,99)
print(ab)

[99, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [55]:
ab.clear()

In [56]:
print(ab)

[]

In [59]:
# Question fruits=["Apple","Banana","Cherry","Kiwi"]
#Using For Loop Only

fruits = ['apple', 'banana, 'cherry'
print(fruits)

['aple', 'Banana', 'Cherry', 'Kiwi']

In [5]:
fruits[:2]

['Apple', 'Banana']

In [16]:
fruits = ["Apple","Banana","Cherry","Kiwi"]
print(type(fruits))

<class 'list'>

In [12]:
fruits = ["Apple","Banana","Cherry","Kiwi"]
fruits[0:3]

['Apple', 'Banana', 'Cherry']

In [46]:
fruits = ["Apple","Banana","Cherry","Kiwi"]


for a in fruits:
        if "a" in "Banana":
            print("Banana")
        elif "a" in "Apple":
            print("Apple")

Banana
Banana
Banana
Banana

In [54]:
fruits = ["apple","Banana","Cherry","Kiwi"]
for a in fruits:
        if a in "Banana":
            print("Banana")
        elif a in "Apple":
            print("Apple")

Banana

In [64]:
fruits = ["apple","Banana","Cherry","Kiwi"]
for a in fruits:
        if a in "Banana" and "Apple":
            print("Banana","Apple")

Banana Apple

In [65]:
for i in fruits:
    if 'a' in i:
        print(i)

apple
Banana

In [5]:
fruits = ["apple","Banana","Cherry","Kiwi"]
for i in fruits:
    if "a" in i or "i" in i:
        print(i,end = " ")

apple Banana Kiwi

In [16]:
a = []
print(a)

[]

In [17]:
a.append("apple")
print(a)

['apple']

In [18]:
a.append("banana")
print(a)

['apple', 'banana']

In [19]:
a.append("Kiwi")
print(a)

['apple', 'banana', 'Kiwi']

In [27]:
fruits = ["apple","Banana","Cherry","Kiwi"]
b = []
for i in fruits:
    if "a" in i or "i" in i:
        print(i,end = " ")
        b.append(i)
print(b)

apple Banana Kiwi ['apple', 'Banana', 'Kiwi']

In [29]:
fruits = ["apple","Banana","Cherry","Kiwi"]
b = []
for i in fruits:
    if "a" in i or "i" in i:
        b.append(i)
print(b)

['apple', 'Banana', 'Kiwi']

In [31]:
a = [-1,3,5,-9,77,-8]
sum = 0

for i in a:
    sum = sum + i
print(f"Summation = {sum}")

Summation = 67

In [32]:
-1+3+5-9+77-8

67

In [37]:
a = [-1,3,5,-9,77,-8]
sum = 1

for i in a:
    sum = sum * i
print(f"Summation = {sum}")

Summation = -83160

In [34]:
-1*3*5*-9*77*-8

-83160

In [5]:
a = [1,5,17,99,102,34]
i = 0
for i in a :
    if 102>1 and 102>5 and 102>5 and 102>17 and 102>99 and 102>34:
        i = i + 1
print("102 is the Largest Value")

102 is the Largest Value

In [66]:
a = [1,5,17,99,102,34]

maximum = a[0]

for i in a:
    if i < maximum:
        maximum = i
print(maximum)

1

In [11]:
# Spilt will not work for list[]:

a = 'i am here'
a.split(' ')

['i', 'am', 'here']

In [17]:
# Write a python program to check a list is empty or not :  

a = [1,2,3,4,5]

if a ==[ ]:
    print(a, "empty")
else:
    print("Not an empty List")

Not an empty List

In [48]:
"""Write a Python program to find the list of words that are 
longer than than n from a given list of words

Sample word = Find the List of Words that are Longer than n from 
given list of words"""

num = int(input("Enter a Number"))
word = "Find the List of Words that are Longer than n from given list of words"
text = word.split( " ")
new_list=[]

for i in text:
    if len(i)>num:
        new_list.append(i)
print(new_list)

Enter a Number3
['Find', 'List', 'Words', 'that', 'Longer', 'than', 'from', 'given', 'list', 'words']

In [47]:
a = [87979]

In [15]:
a = list([3, 4])
print(a)

[3, 4]

In [74]:
"""Write a Program that get two lists as input
and check if they have at least one common member

list1=[1,2,3,4,5]
list2=[5,6,7,8,9]"""

list_1= [1,2,3,4,5]
list_2= [5,6,7,8,9]

for i in list_1:
    for j in list_2:
        if i == j:
            print(i)

5

In [77]:
list1 = ["Hello","take"]
list2 = ["Dear","Sir"]

list1.insert()

TypeError: insert expected 2 arguments, got 1

In [44]:
kavin = [2,4,6,8,10,12,14,16]
print(kavin)

[2, 4, 6, 8, 10, 12, 14, 16]

In [47]:
kavin.insert(2,99)

In [39]:
abc = [2,4,6,8,10,12]

In [40]:
abc[0:3]

[2, 4, 6]

In [60]:
rrr = [2,4,6,8,10,12,14,16]
print(rrr)

[2, 4, 6, 8, 10, 12, 14, 16]

In [61]:
rrr.insert(2,99)

In [62]:
print(rrr)

[2, 4, 99, 6, 8, 10, 12, 14, 16]

In [22]:
"""Write a python program to generate and print a list of first and last 5 elements where the 
values are sqaure of numbers between 1 and 30"""
s_numbers=[]

for i in range(1,30):
    i = i**2
    s_numbers.append(i)
print(s_numbers)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841]

In [17]:
s_numbers[0:6]

[1, 4, 9, 16, 25, 36]

In [39]:
s_numbers[24:29]

[625, 676, 729, 784, 841]

In [64]:
sample_data=[[1,3,5,7,9,10],[2,4,6,8]]

sample_data[8:]

[]

In [18]:
a = list([3,4])
print(a)

[3, 4]

In [19]:
a = [3,4]
print(a)

[3, 4]

In [3]:
"""Write a program to print all the elements of a list in single line: 
num = [23,24,54,34]

Expected Output
23 24 54 34"""


num = [23,24,54,34]

for i in num:
    print(i, end= " ")

23 24 54 34

In [2]:
"""Write a program to count the number of items stored in a list
num=[23,34,"hello",32,56]

Expected Output
Total count of items are:5"""

num=[23,34,"hello",32,56]
a = 0
for i in num:
    a = a + 1
print(f"Total Count of items are: {a}")

Total Count of items are: 5

In [1]:
"""Python Program to square each element of a list:
Given: x=[2,3,4,5,6]"""

x = [2,3,4,5,6]
for i in x:
    i = i**2
    print(i, end= " ")

4 9 16 25 36

In [6]:
"""Python Program to square each element of a list:
Given: x=[2,3,4,5,6]"""

x = [2,3,4,5,6]
for i in x:
    i = i**2
    print(i, end= " ")

4 9 16 25 36

In [13]:


a = [1,5,17,99,102,34]

maximum = a[0]

for i in a:
    if i > maximum:
        maximum = i
print(maximum)

102

In [11]:
list1= ["Hello","take"]
list2= ["Dear","Sir"]

for i in list1:
    for j in list2:
        if i + j:
            print(i,j)

Hello Dear
Hello Sir
take Dear
take Sir

In [5]:
list1= ["Hello","take"]
list2= ["Dear","Sir"]
a =[]
b =[]
for i in list1:
    for j in list2:
        if i + j:
            a.append(i)
            b.append(j)
print(a)
print(b)

['Hello', 'Hello', 'take', 'take']
['Dear', 'Sir', 'Dear', 'Sir']

In [7]:
"""Python Program to remove an empty element from a list.
num = ["Hello",34,45,"",40]
Expected Output
Result: ["Hello",34,45,"",40]"""

num = ["Hello",34,45,"",40]
num.remove("")
print(num)

['Hello', 34, 45, 40]

In [46]:
"""Write a python program to replace the last element in a list with another.
Sample data:[1,3,5,7,9,10],[2,4,6,8]
Expected Output:[1,3,5,7,9,2,4,6,8]"""


a=[1,3,5,7,9,10],[2,4,6,8]
c = []
for i in a:
    for a in i:
        c.append(a)
c.remove(10)
print(c)

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [47]:
a=[1,3,5,7,9,10],[2,4,6,8]
b = a[0][:-1] + a[1]
b

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [34]:
z = [[1,3,5,7,9,10],[2,4,6,8]]

In [35]:
z[0][1]

3

In [31]:
z = 1,22,77,76,5,6,7,8,9,10
z[0:4]

(1, 22, 77, 76)

In [45]:
y= [[1,3,5,7,9,10],[2,4,6,8]]
d = []
(y[0][0:5]) and (y[1][0:4])

[2, 4, 6, 8]

In [56]:
aa=[1,3,5,7,9,10],[2,4,6,8]
aa = a[0][:-1] + a[1]
aa

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [3]:
"""Wrote a program in python to remove repititve items from a list
Given num=[2,3,4,5,2,6,3,2]

for i in num:
print(i)

Expected Output
Result: [2,3,4,5,6]"""

num =[2,3,4,5,2,6,3,2]
a = []
for i in num:
    if i not in a:    
        a.append(i)
print(a)

[2, 3, 4, 5, 6]

In [1]:
a= [1,2,3,4,5,6]
a.remove(5)

In [2]:
print(a)

[1, 2, 3, 4, 6]

In [3]:
a.clear()

In [4]:
print(a)

[]