In [5]:
# It is an Unordered Collection:
# Key and Value Pair:

dict1 = {
    1:"Welcome",
    2:"to",
    3:"IPCS",
}
print(type(dict1))
print(dict1)

<class 'dict'>
{1: 'Welcome', 2: 'to', 3: 'IPCS'}

In [6]:
a = {}
print(a)

{}

In [7]:
dict1.values()

dict_values(['Welcome', 'to', 'IPCS'])

In [8]:
dict1.keys()

dict_keys([1, 2, 3])

In [6]:
dict1.items()

dict_items([(1, 'Welcome'), (2, 'to'), (3, 'IPCS')])

In [7]:
#Method 2:

b = dict({1: "Welcome",
          2: "to",
          3: "IPCS"})

In [8]:
b

{1: 'Welcome', 2: 'to', 3: 'IPCS'}

In [10]:
#Method 3:

c = dict([(1, "Welcome"), (2, "IPCS")])

In [11]:
c

{1: 'Welcome', 2: 'IPCS'}

In [15]:
name = {
    "kavin" : 102,
    "kumar" : 103,
    "babu"  : 104,
    "Suresh" : 105
}
print(name)

{'kavin': 102, 'kumar': 103, 'babu': 104, 'Suresh': 105}

In [16]:
name.get('kavin')

102

In [17]:
name.pop("kavin")

102

In [18]:
name

{'kumar': 103, 'babu': 104, 'Suresh': 105}

In [19]:
name.popitem()

('Suresh', 105)

In [20]:
name

{'kumar': 103, 'babu': 104}

In [22]:
name.update({"Dinesh" : 555})

In [23]:
name

{'kumar': 103, 'babu': 104, 'Dinesh': 555}

In [24]:
name[0] = 11111

In [25]:
name

{'kumar': 103, 'babu': 104, 'Dinesh': 555, 0: 11111}

In [26]:
name.clear()

In [27]:
name

{}

In [36]:
dict1 = {
    
    1: "A",
    2: ["B", "C", "D"]
}

In [37]:
dict1

{1: 'A', 2: ['B', 'C', 'D']}

In [38]:
for i in dict1.values():
    print(i)

A
['B', 'C', 'D']

In [39]:
for i in dict1:
    print(i)

1
2

In [43]:
kavin = {
    "USA" : 1,
    "China": 2,
    "Russia": 3,
    "India" : 4,
    "UK" : 5
}

In [44]:
kavin

{'USA': 1, 'China': 2, 'Russia': 3, 'India': 4, 'UK': 5}

In [48]:
"""Write a python script to add a key to a dictionary.

sample Dictionary: {0:10, 1:20}
Expected Result: {0:10, 1:20, 2:30}"""

dict1= {0:10, 1:20}
dict1[2] = 30
print(dict1)

{0: 10, 1: 20, 2: 30}

In [57]:
"""Check if a value exists in a dictionary
we know how to check if the key exists in a dictioary.
Sometimes it is required to check if the givenvalue is present

Write a Python Program to check if value 200 exists in the foloowing dictionary.

Given:

sample_dict = {"a" : 100, "b": 200, "c": 300}

Expected Output:

200 Present in a dict"""


sample_dict = {"a" : 100, "b": 200, "c": 300}

for i in sample_dict.values():
    if i == 200:
        print(i, "Present in a dict")

200 Present in a dict

In [38]:
"""Resume key of a dictionary 
Write a Program to rename a key city to a location in the following dictionary

Given:


sample_dict= {

"name": "Kelly",
"age":25,
"salary": 8000,
"city": "New York"
}

Expected Output:

{"name": "Kelly","age":25, "Salary": 8000, "Location: "New york}"""


sample_dict= {"name": "Kelly","age":25,"salary": 8000,"city": "New York"}
sample_dict.popitem()
sample_dict["Location"] = "New York"
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'Location': 'New York'}

In [85]:
"Write a Pytho program to multiply all the items in a dictionary"

my_dict = {'Data1':100, "data2":-54,"data3": 247}
switch = 1
for i in my_dict:
    switch = switch*my_dict[i]
print(switch)

-1333800

In [79]:
100*54*247

1333800

In [99]:
"""Change Value of a key in a nested dictionary 
Write a Python Program to change Brad"s Salary to 85000 in the following dictionary
Given:
sample_dict = {
"emp1": {"name": 'Jhon', 'Salary': 7500},
"emp2": {'name': 'Emma', 'Salary': 8000},
"emp3": {'name': 'Brad', 'salary': 500}
}
Expected Output: 
"emp1": {"name": 'Jhon', 'Salary': 7500},
"emp2": {'name': 'Emma', 'Salary': 8000},
"emp3": {'name': 'Brad', 'salary': 8500}
}
"""

z = {
"emp1": {"name": 'Jhon', 'Salary': 7500},
"emp2": {'name': 'Emma', 'salary': 8000},
"emp3": {'name': 'Brad', 'salary': 500}
}

z.popitem()
z.update({"emp3": {'name': 'Brad', 'salary': 8500}})
print(z)

{'emp1': {'name': 'Jhon', 'Salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [10]:
xy = {
"emp1": {"name": 'Jhon', 'Salary': 7500},
"emp2": {'name': 'Emma', 'Salary': 8000},
"emp3": {'name': 'Brad', 'salary': 500}
}
a = xy["emp3"]['salary']= 8500
print(xy)

{'emp1': {'name': 'Jhon', 'Salary': 7500}, 'emp2': {'name': 'Emma', 'Salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [44]:
"""Get sum of all the values in a dict

#Input 
sample_dict = {"Physics": 82,"Math" = 65,"history": 75, "chemistry": = 89, "gk": 50 }
}

#Expected Output: 361"""


sample_dict = {"Physics": 82,"Math":65,"history": 75, "chemistry": 89, "gk": 50 }
sumation = 0

for i in sample_dict:
    sumation = sample_dict[i] + sumation
print(sumation)

361

In [17]:
82+65+75+89+50

361

In [32]:
"""Get the Minimum value from the following directory

#Input

sample_dict = {"Physics": 82, "Math": 65,"History": 75}

#Expected Output: Math"""

sample_dict = {"Physics": 82, "Math": 65,"History": 75}
print(min(sample_dict, key = sample_dict.get))

Math

In [37]:
"""Create a dictionary by extracting the keys from a given dictionary

#Inputs:
sample_dict = {"name": "Kelly", "age" : 25, "salary": 8000, "city": "New york"}

Expected Output: {'name' : 'Kelly','salary': 8000}"""


sample_dict = {"name": "Kelly", "age" : 25, "salary": 8000, "city": "New york"}
sample_dict.popitem()
sample_dict.pop("age")
print(sample_dict)

{'name': 'Kelly', 'salary': 8000}

In [45]:
"""Write a program in python to map keys to dictionary

key = ['Fruit','vegetable']
value=['Mango,Tomato']

Expected output
{"Fruit": 'Mango', 'Vegetable': 'Tomato'}"""

key = ['Fruit','vegetable']
value=['Mango','Tomato']
a =

<class 'list'>

In [72]:
"""Write a Python script to concentrate the following dictionaries
to create a new one


Sample Dictionary: 
dic1= {1:10, 2:20}
dic2= {3:30, 4:40}
dic3= {5:50, 6:60}

Expected Result : {1:10, 2:20, 3:30, 4:40, 5:50, 6:60}"""

dic1= {1:10, 2:20}
dic2= {3:30, 4:40}
dic3= {5:50, 6:60}

dic = {}
for i in dic1,dic2,dic3:
    dic.update(i)
print(dic)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [51]:
"""Write a Python Program to replace words from dictionary

val  = 'ipcs computer education'
dic = {'computer':'software'
        'education': 'solution'}
        
Output: 
Original String: ipcs computer education
Replaced String : ipcs software education"""

val  = 'ipcs computer education'
dic = {'computer':'software','education': 'solution'}

for i in val:
    if dic

i
p
c
s

c
o
m
p
u
t
e
r

e
d
u
c
a
t
i
o
n

In [1]:
a = { "kavin": 1,
     "navin": 2,
     "prabhu": 3}
print(type(a))
print(a)

<class 'dict'>
{'kavin': 1, 'navin': 2, 'prabhu': 3}

In [2]:
a.values()
print(a)

{'kavin': 1, 'navin': 2, 'prabhu': 3}

In [3]:
a.keys()

dict_keys(['kavin', 'navin', 'prabhu'])

In [1]:
"""Python Dictionary to square of numbers from 1 to 10"""
a = {}

for i in range(1, 11):
    a[i] = i**2
print(a, end="")

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
inventory = {'Men': ['Shirt','Suit','Trouser','Jeans'],
             'Women': ['Saree','Dress_Suit','Handbag','Jewellery'],
             'Home_Appliances': ['TV','Refridgerator'],
             'Kids':['Toys','Bags','Books']}

item = str(input("Enter the Item you want"))


for i in inventory:
    if item in inventory[i]:
        print(item,"is available")
        buy = str(input("Would you like to continue buying(Yes/No)"))
        if buy == "Yes":
            item = str(input("Enter the Item you want"))
    elif item not in inventory[i]:
        print(item, "not available")

Enter the Item you wantBags
Bags not available
Bags not available
Bags not available
Bags is available

In [2]:
a = {soap,detergent,chocolate,toothpaste}
b = {soap,etergent,brush,comb,toothpaste}
c= {juice,cake,brush,comb,chips}


for i in a:
    print(i)

NameError: name 'soap' is not defined

In [10]:
a = ["soap","detergent","chocolate","toothpaste"]
b = ["soap","detergent","brush","comb","toothpaste"]
c= ["juice","cake","brush","comb","chips"]

print("All the Elements: ", tuple(zip(a,b)))

All the Elements:  (('soap', 'soap'), ('detergent', 'detergent'), ('chocolate', 'brush'), ('toothpaste', 'comb'))

In [5]:
total_item = a+b+c
print('Total number of items: ',total_item)

Total number of items:  ['soap', 'detergent', 'chocolate', 'toothpaste', 'soap', 'detergent', 'brush', 'comb', 'toothpaste', 'juice', 'cake', 'brush', 'comb', 'chips']

In [8]:
total_item = a+b+c
print('Total number of items: ',total_item)
print('\n')

per_item =[]

for i in total_item:
    if i not in per_item:
        per_item.append(i)
print('Unique item : ', per_item)

Total number of items:  ['soap', 'detergent', 'chocolate', 'toothpaste', 'soap', 'detergent', 'brush', 'comb', 'toothpaste', 'juice', 'cake', 'brush', 'comb', 'chips']


Unique item :  ['soap', 'detergent', 'chocolate', 'toothpaste', 'brush', 'comb', 'juice', 'cake', 'chips']

In [11]:
count = []

for i in per_item:
    n= 0
    for j in total_item:
        if i==j:
            n = n +1
            count.append(n)
print("Item sold : ", dict(zip(per_item, count)))

Item sold :  {'soap': 1, 'detergent': 2, 'chocolate': 1, 'toothpaste': 2, 'brush': 1, 'comb': 1, 'juice': 2, 'cake': 1, 'chips': 2}

In [9]:
a_dictionary = {
    1:'one',
    2:'two',
    3:'three',
    4:'four',
    5:'five',
    6:'six',
    7:'seven',
    8:'eight',
    9:'nine',
    10:'ten'}
for i in a_dictionary:
    print(a_dictionary[i])

one
two
three
four
five
six
seven
eight
nine
ten