# `List COmprehension`

In [ ]:
fruits = ['apple', 'bannana','kiwi','grapes']

lst=[]

for i in fruits:
    if 'a' in i:
        lst.append(i)
print(lst)

In [4]:
# List Comprehension:

# Single Line of For Loop:

[i for i in fruits if 'a' in i]

['apple', 'bannana', 'grapes']

In [8]:
a = ['Kavin', 'Navin','Pravin']

[i for i in a if "vin" in i]

['Kavin', 'Navin', 'Pravin']

In [9]:
for i in range(1,21):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [12]:
n = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

[i for i in n if i%2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [14]:
[i for  i in range(1,21) if i%2==0]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [25]:
#1
a = end=''
[i for i in range(1,1000) if i%7==0]

[7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 77,
 84,
 91,
 98,
 105,
 112,
 119,
 126,
 133,
 140,
 147,
 154,
 161,
 168,
 175,
 182,
 189,
 196,
 203,
 210,
 217,
 224,
 231,
 238,
 245,
 252,
 259,
 266,
 273,
 280,
 287,
 294,
 301,
 308,
 315,
 322,
 329,
 336,
 343,
 350,
 357,
 364,
 371,
 378,
 385,
 392,
 399,
 406,
 413,
 420,
 427,
 434,
 441,
 448,
 455,
 462,
 469,
 476,
 483,
 490,
 497,
 504,
 511,
 518,
 525,
 532,
 539,
 546,
 553,
 560,
 567,
 574,
 581,
 588,
 595,
 602,
 609,
 616,
 623,
 630,
 637,
 644,
 651,
 658,
 665,
 672,
 679,
 686,
 693,
 700,
 707,
 714,
 721,
 728,
 735,
 742,
 749,
 756,
 763,
 770,
 777,
 784,
 791,
 798,
 805,
 812,
 819,
 826,
 833,
 840,
 847,
 854,
 861,
 868,
 875,
 882,
 889,
 896,
 903,
 910,
 917,
 924,
 931,
 938,
 945,
 952,
 959,
 966,
 973,
 980,
 987,
 994]

In [3]:
# 2
"""FInd all the numbers from 1-1000 that have a 3 in them"""
a = [i for i in range(1,1000) if '3' in str(i)]
print(a, end='')

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93, 103, 113, 123, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 143, 153, 163, 173, 183, 193, 203, 213, 223, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 243, 253, 263, 273, 283, 293, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 403, 413, 423, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 443, 453, 463, 473, 483, 493, 503, 513, 523, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 543, 553, 563, 573, 583, 593, 603, 613, 623, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 643, 653, 663, 673, 683, 693, 703, 713, 723, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 743, 753, 763, 773, 783, 793, 803, 813, 823, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 843, 853, 863, 873, 883, 893, 903, 913, 923, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 943, 953, 963, 973, 983, 993]

In [15]:
#3
"""Count the Spaces in a string"""
a = "Count the Spaces in a string"
count = 0
for i in a :
    if i==" ":
        count = count + 1
print(count)

5

In [21]:
#3
"""Count the Spaces in a string"""
a= "Count the Spaces in a string"
b = [i for i in a if i== " "]
print(len(b))

5

In [31]:
#4
"""Create a list of all the consonants in the string 
"Yellow Yaks like yelling and yawning and yesturday they yodled while eating 
yuky yams"""

a = 'Yellow Yaks like yelling and yawning and yesturday they yodled while eating yuky yams'
b = 'a','e','i','o','u'
c = [i for i in a if i not in b]
print(c, end='')

['Y', 'l', 'l', 'w', ' ', 'Y', 'k', 's', ' ', 'l', 'k', ' ', 'y', 'l', 'l', 'n', 'g', ' ', 'n', 'd', ' ', 'y', 'w', 'n', 'n', 'g', ' ', 'n', 'd', ' ', 'y', 's', 't', 'r', 'd', 'y', ' ', 't', 'h', 'y', ' ', 'y', 'd', 'l', 'd', ' ', 'w', 'h', 'l', ' ', 't', 'n', 'g', ' ', 'y', 'k', 'y', ' ', 'y', 'm', 's']

In [10]:
#5
"""Find the Common Numbers in two lists(without using a tuple or set)
list_a = 1,2,3,4,list_b = 2,3,4,5"""
list_a = [1,2,3,4]
list_b = [2,3,4,5]

[i for i in list_a if i in list_b ]

[2, 3, 4]

In [51]:
#6
"""Get the index and the value as a tuple for items in the list
"hi",4,8.99,'apple',("t,b",n').Result would look like
(index,value),(index,value)"""
lst = ["hi",4,8.99,'apple',("t","b",'n')]

[(index, item) for index, item in enumerate(lst)]

[(0, 'hi'), (1, 4), (2, 8.99), (3, 'apple'), (4, ('t', 'b', 'n'))]

In [24]:
#7
"""Find all of the words in a string that are less than 4 letters"""
a = 'Find','all','of','the','words','in','a','string','that','are','less','than','4','letters'

b = [ i for i in a if len(i)<4]
print(b, end = " ")

['all', 'of', 'the', 'in', 'a', 'are', '4']

In [28]:
#8
"""Produce a list of tuple consisting of only the matching numbers in these 
lists list_a = 1,2,3,4,5,6, list_b = 2,7,1,12.
Result would look like (4,4),(12,12)"""

list_a = [1,2,3,4,5,6]
list_b = [2,7,1,12]

[(i,j) for i in list_a for j in list_b if i==j]

[(1, 1), (2, 2)]

In [15]:
#8
"""Use a nested list comprehension to find all of the numbers from
1-1000 that are divisible by any single digit besides 1(2-9)"""

[i for i in range(1,1001) if i%

'Use a nested list comprehension to find all of the numbers from\n1-1000 that are divisible by any single digit besides 1(2-9)'

In [13]:
"""Get only the Numbers in a sentence like 'In 1984 there were 13 
instances of a protest with over 1000 people attending'

Given numbers = range(20), produce a list containing the word 'even'
if number in the numbers is even, and the word 'odd' if the number is odd .
Result would look like 'odd','odd','even'"""

sent = "Get only the Numbers in a sentence like 'In 1984 there were 13 instances of a protest with over 1000 people attending"
a = sent.isdigit()
[i for i in a]


"""Get only the Numbers in a sentence like 'In 1984 there were 13 
instances of a protest with over 1000 people attending'

Given numbers = range(20), produce a list containing the word 'even'
if number in the numbers is even, and the word 'odd' if the number is odd .
Result would look like 'odd','odd','even'"""

TypeError: 'bool' object is not iterable

In [43]:
"""Get only the Numbers in a sentence like 'In 1984 there were 13 
instances of a protest with over 1000 people attending'

Given numbers = range(20), produce a list containing the word 'even'
if number in the numbers is even, and the word 'odd' if the number is odd .
Result would look like 'odd','odd','even'"""

sent = "Get only the Numbers in a sentence like 'In 1984 there were 13 instances of a protest with over 1000 people attending"
a = sent.split()
[ i for i in a if i.isdigit()]

['1984', '13', '1000']

In [66]:
#A
"""Use a list comprehension that iterates over a_list, 
prints a list composed of each value in a_list multiplied by 10 """
a_list = list(range(1,11))
[i*10 for i in a_list]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [60]:
for i in a_list:
    i = i*10
    print(i, end=",")

10,20,30,40,50,60,70,80,90,100,

In [58]:
#B
"""Use a list comprehension that iterates over a_list, print a list 
composed of odd numbers from 1 to 9"""

a_list = list(range(1,11))
a_dictionary = {
    1:'one',
    2:'two',
    3:'three',
    4:'four',
    5:'five',
    6:'six',
    7:'seven',
    8:'eight',
    9:'nine',
    10:'ten'}
[ i for i in a_list if i%2!=0]

[1, 3, 5, 7, 9]

In [67]:
a_dictionary = {
    1:'one',
    2:'two',
    3:'three',
    4:'four',
    5:'five',
    6:'six',
    7:'seven',
    8:'eight',
    9:'nine',
    10:'ten'}

print(a_dictionary)

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six', 7: 'seven', 8: 'eight', 9: 'nine', 10: 'ten'}

In [68]:
print(a_dictionary.keys())

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [83]:
a_dictionary = {
    1:'one',
    2:'two',
    3:'three',
    4:'four',
    5:'five',
    6:'six',
    7:'seven',
    8:'eight',
    9:'nine',
    10:'ten'}

for i in a_dictionary.keys():
    if i%2==0:
        print(i, end = " ")

2 4 6 8 10

In [87]:
[a_dictionary[i] for i in a_dictionary if i%2==0 ]

['two', 'four', 'six', 'eight', 'ten']

In [105]:
x =int(input("Enter a Number"))
a_dictionary = {
    1:'one',
    2:'two',
    3:'three',
    4:'four',
    5:'five',
    6:'six',
    7:'seven',
    8:'eight',
    9:'nine',
    10:'ten'}

[a_dictionary[int(i)] for i in a_dictionary if x in i]

Enter a Number4

TypeError: argument of type 'int' is not iterable

In [106]:
string = input('Enter the Number : ')

[a_dictionary[int(i)] for i in string]

Enter the Number : 195

['one', 'nine', 'five']

In [21]:
string = int(input('Enter the Number : '))
print(type(string))

Enter the Number : 2
<class 'int'>

In [5]:
a_dictionary = {
    1:'one',
    2:'two',
    3:'three',
    4:'four',
    5:'five',
    6:'six',
    7:'seven',
    8:'eight',
    9:'nine',
    10:'ten'}

string = input('Enter the Number : ')

a = [a_dictionary[int(i)] for i in string]
b = "*"
c = b.join(a)
print(c)

Enter the Number : 536
five*three*six

In [137]:
#A
SPL_Patrons = [
['Kim Tremblay', 134, True],
['Emily Wilson', 42, False],
['Jessica Smith', 215, True],
['Alex Roy', 151, True],
['Sarah Khan', 105, False],
['Samuel Lee', 220, True],
['William Brown', 24, False],
['Ayesha Qureshi', 199, True],
['David Martin', 56, True],
['Ajeet Patel',69, False]
]

[i[0] for i in SPL_Patrons if i[1]>100]

['Kim Tremblay',
 'Jessica Smith',
 'Alex Roy',
 'Sarah Khan',
 'Samuel Lee',
 'Ayesha Qureshi']

In [131]:
#B
SPL_Patrons = [
['Kim Tremblay', 134, True],
['Emily Wilson', 42, False],
['Jessica Smith', 215, True],
['Alex Roy', 151, True],
['Sarah Khan', 105, False],
['Samuel Lee', 220, True],
['William Brown', 24, False],
['Ayesha Qureshi', 199, True],
['David Martin', 56, True],
['Ajeet Patel',69, False]
]
[i[0] for i in SPL_Patrons if i[2]==False]

['Emily Wilson', 'Sarah Khan', 'William Brown', 'Ajeet Patel']

In [132]:
#C
SPL_Patrons = [
['Kim Tremblay', 134, True],
['Emily Wilson', 42, False],
['Jessica Smith', 215, True],
['Alex Roy', 151, True],
['Sarah Khan', 105, False],
['Samuel Lee', 220, True],
['William Brown', 24, False],
['Ayesha Qureshi', 199, True],
['David Martin', 56, True],
['Ajeet Patel',69, False]
]
[i[1]*11.95 for i in SPL_Patrons]

[1601.3,
 501.9,
 2569.25,
 1804.4499999999998,
 1254.75,
 2629.0,
 286.79999999999995,
 2378.0499999999997,
 669.1999999999999,
 824.55]

In [142]:
#D
SPL_Patrons = [
['Kim Tremblay', 134, True],
['Emily Wilson', 42, False],
['Jessica Smith', 215, True],
['Alex Roy', 151, True],
['Sarah Khan', 105, False],
['Samuel Lee', 220, True],
['William Brown', 24, False],
['Ayesha Qureshi', 199, True],
['David Martin', 56, True],
['Ajeet Patel',69, False]
]

[(i[0],i[1]*11.95) for i in SPL_Patrons if i[2]==False]

[('Emily Wilson', 501.9),
 ('Sarah Khan', 1254.75),
 ('William Brown', 286.79999999999995),
 ('Ajeet Patel', 824.55)]

In [145]:
#A
prairie_pirates = [
['Tractor Jack', 1000, True],
['Plowshare Pete', 950, False],
['Prairie Lily', 245, True],
['Red River Rosie', 350, True],
['Mad Athabasca McArthur', 842, False],
['Assiniboine Sally', 620, True],
['Thresher Tom', 150, True],
['Cranky Canola Carl', 499, False]
]

[i[0] for i in prairie_pirates if i[1]>400]

['Tractor Jack',
 'Plowshare Pete',
 'Mad Athabasca McArthur',
 'Assiniboine Sally',
 'Cranky Canola Carl']

In [147]:
#B

prairie_pirates = [
['Tractor Jack', 1000, True],
['Plowshare Pete', 950, False],
['Prairie Lily', 245, True],
['Red River Rosie', 350, True],
['Mad Athabasca McArthur', 842, False],
['Assiniboine Sally', 620, True],
['Thresher Tom', 150, True],
['Cranky Canola Carl', 499, False]
]

[i[0] for i in prairie_pirates if i[2]==False]

['Plowshare Pete', 'Mad Athabasca McArthur', 'Cranky Canola Carl']

In [148]:
#C
prairie_pirates = [
['Tractor Jack', 1000, True],
['Plowshare Pete', 950, False],
['Prairie Lily', 245, True],
['Red River Rosie', 350, True],
['Mad Athabasca McArthur', 842, False],
['Assiniboine Sally', 620, True],
['Thresher Tom', 150, True],
['Cranky Canola Carl', 499, False]
]

[ i[1]*42 for i in prairie_pirates]

[42000, 39900, 10290, 14700, 35364, 26040, 6300, 20958]

In [150]:
#D

prairie_pirates = [
['Tractor Jack', 1000, True],
['Plowshare Pete', 950, False],
['Prairie Lily', 245, True],
['Red River Rosie', 350, True],
['Mad Athabasca McArthur', 842, False],
['Assiniboine Sally', 620, True],
['Thresher Tom', 150, True],
['Cranky Canola Carl', 499, False]
]

[(i[0],i[1]*42) for i in prairie_pirates if i[2] ==True]

[('Tractor Jack', 42000),
 ('Prairie Lily', 10290),
 ('Red River Rosie', 14700),
 ('Assiniboine Sally', 26040),
 ('Thresher Tom', 6300)]

In [181]:

a = 'Even'
b = 'Odd'

for i in a:
    print(i, end=" ")
for j in b:
        print(j , end=" ")

E v e n O d d

In [221]:
a = 'Even'
b = 'Odd'

c = [ (a,b) for i in range(0,3)]

print(c, end="")

[('Even', 'Odd'), ('Even', 'Odd'), ('Even', 'Odd')]

In [223]:
a = 'Even'
b = 'Odd'
n = 5
[ a[0] for i in n

TypeError: 'int' object is not iterable

In [226]:
a = ['Even','Odd']

[ i for i in a if "Even" and "Odd" in i]

['Odd']

In [227]:
['Even' if i % 2 == 0 else '0dd' for i in range(10)]

['Even', '0dd', 'Even', '0dd', 'Even', '0dd', 'Even', '0dd', 'Even', '0dd']

In [228]:
"""Fetch an output : 

Output - 1:
['Even', 'Odd', 'Even', 'Odd', 'Even']"""

a = ['Even' if i%2==0 else 'Odd' for i in range(5)]
print()

['Even', 'Odd', 'Even', 'Odd', 'Even']

In [ ]:
['Even' if i % 2 == 0 else '0dd' for i in range(10)]

In [259]:
"""Use list comprehension to make a list of the first letter of each word
in the following list:
wordList = ["this", "is", "an", "example"]"""

wordlist = ["this", "is", "an", "example"]

[ i[0] for i in wordlist]

['t', 'i', 'a', 'e']

In [21]:
'''Add % in front and end of every single word in a given string
str: "Fall is Awesome in Alabama" only using list comprehension'''


string = "Fall is Awesome in Alabama"
a = string.split()

["%"+ a + " %" for i in a]

TypeError: can only concatenate str (not "list") to str

In [19]:
a = [i**2 for i in range(1,26)]
print(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625]

In [31]:
"""Write a list comprehension that returns the list
["1*2=1", "22=4", "32=9", ...., "25*2=625"]"""

[ str(i)+ "*2=" + str(i * i) for i in range(1,25)]

['1*2=1',
 '2*2=4',
 '3*2=9',
 '4*2=16',
 '5*2=25',
 '6*2=36',
 '7*2=49',
 '8*2=64',
 '9*2=81',
 '10*2=100',
 '11*2=121',
 '12*2=144',
 '13*2=169',
 '14*2=196',
 '15*2=225',
 '16*2=256',
 '17*2=289',
 '18*2=324',
 '19*2=361',
 '20*2=400',
 '21*2=441',
 '22*2=484',
 '23*2=529',
 '24*2=576']

In [23]:
string = "Fall is Awesome in Alabama"
a = string.split()
print(a)

['Fall', 'is', 'Awesome', 'in', 'Alabama']

In [40]:
string = "Fall is Awesome in Alabama"
a = string.split()
["%" + string + "%" for i in string.split(' ')]

['%Fall is Awesome in Alabama%',
 '%Fall is Awesome in Alabama%',
 '%Fall is Awesome in Alabama%',
 '%Fall is Awesome in Alabama%',
 '%Fall is Awesome in Alabama%']

In [4]:
"""Add % in front and end of every single word in a given string str:
"Fall is Awesome in Alabama" only using list comprehensions."""

str = "Fall is awesome in alaboma"

["%" + word + "%" for word in str.split()]

['%Fall%', '%is%', '%awesome%', '%in%', '%alaboma%']

In [6]:
str = ['one','seven','three','two','ten']


print(len(str))

5

In [16]:
a = ['one','seven','three','two','ten']

[(len(i), i.upper()) for i in a if len(i)>3]

[(5, 'SEVEN'), (5, 'THREE')]

['%Fall is Awesome in Alabama%',
 '%Fall is Awesome in Alabama%',
 '%Fall is Awesome in Alabama%',
 '%Fall is Awesome in Alabama%',
 '%Fall is Awesome in Alabama%']

['Even', 'Odd', 'Even', 'Odd', 'Even']