# `Dictionary Comprehension`

In [1]:
keys = ['a', 'b', 'c', 'd', 'e']
values = [1, 2, 3, 4, 5]

In [2]:
a = dict(zip(keys, values))

In [3]:
a

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [5]:
{k : v for (k,v) in zip(keys, values)}

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [7]:
a = [1, 2, 3, 4, 5]

{x : x ** 2 for x in a}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [8]:
a = ['a','b','c', 'd','e']
b = ['1', '2', '3', '4', '5']

{a:b for (a,b) in zip(a,b)}

{'a': '1', 'b': '2', 'c': '3', 'd': '4', 'e': '5'}

In [9]:
c = dict(zip(a,b))
print(c)

{'a': '1', 'b': '2', 'c': '3', 'd': '4', 'e': '5'}

In [10]:
a = 1,2,3,4,5,6

{z: z*10 for z in a}

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [55]:
"""Question is range(10) in this print all the numbers which are 
cuboid and cuboid which are not divisible by 4"""


{x:x**3 for x in range(10) if x**3%4!=0}

{1: 1, 3: 27, 5: 125, 7: 343, 9: 729}

In [1]:
#Question:
"""old_items = {'milk': 1.02, 'cofee': 2.07, 'bread': 3.88}
Convert dollars into pounds using dictionary comprehension 
values are in dollars
pound value = 0.76"""

old_items = {'milk': 1.02, 'cofee': 2.07, 'bread': 3.88}


{k:v*0.76 for (k,v) in old_items.items()}

{'milk': 0.7752, 'cofee': 1.5732, 'bread': 2.9488}

In [2]:
#Question:
"""{'O': 'ooo', 'N': 'nnn', 'I': 'iii', 'C': 'ccc', 'D': 'ddd', 'G': 'ggg'}

Fetch an output like this by dictionary comprehension"""

a = ["O","N","I","C","D","G"]
b = ['ooo','nnn', 'iii','ccc','ddd','ggg']

{a:b for a,b in zip(a,b)}

{'O': 'ooo', 'N': 'nnn', 'I': 'iii', 'C': 'ccc', 'D': 'ddd', 'G': 'ggg'}

In [5]:
x ={'O': 'ooo', 'N': 'nnn', 'I': 'iii', 'C': 'ccc', 'D': 'ddd', 'G': 'ggg'}
print(x)

{'O': 'ooo', 'N': 'nnn', 'I': 'iii', 'C': 'ccc', 'D': 'ddd', 'G': 'ggg'}

In [8]:
{ a:a for a in x}

{'O': 'O', 'N': 'N', 'I': 'I', 'C': 'C', 'D': 'D', 'G': 'G'}

In [11]:
"""{'O': 'ooo', 'N': 'nnn', 'I': 'iii', 'C': 'ccc', 'D': 'ddd', 'G': 'ggg'}

Fetch an output like this by dictionary comprehension
a = "coding" """

a = "coding"
{ b.upper():b*3 for b in a }

{'C': 'ccc', 'O': 'ooo', 'D': 'ddd', 'I': 'iii', 'N': 'nnn', 'G': 'ggg'}

# `Sums`

In [48]:
"""ages = {
    'kevin': 12,
    'marcus': 9,
    'evan': 31,
    'nik': 31
}

Fetch an Output like this 
{'kevin': 'even', 'marcus': 'odd', 'evan': 'odd', 'nik': 'odd'}"""

ages = {
    'kevin': 12,
    'marcus': 9,
    'evan': 31,
    'nik': 31
}

{k:"odd"if v%2!=0 else 'Even' for (k,v) in ages.items()}

{'kevin': 'Even', 'marcus': 'odd', 'evan': 'odd', 'nik': 'odd'}

In [82]:
"""names = ['Harry', 'Hermione', 'Ron', 'Neville', 'Luna']


output:
{'Harry': 0, 'Hermione': 1, 'Ron': 2, 'Neville': 3, 'Luna': 4}"""

names = ['Harry', 'Hermione', 'Ron', 'Neville', 'Luna']
{i:j for j,i in enumerate(names)}

{'Harry': 0, 'Hermione': 1, 'Ron': 2, 'Neville': 3, 'Luna': 4}

In [84]:
"""names = ['Harry', 'Hermione', 'Ron', 'Neville', 'Luna']


output:
    {0: 'Harry', 1: 'Hermione', 2: 'Ron', 3: 'Neville', 4: 'Luna'}"""

names = ['Harry', 'Hermione', 'Ron', 'Neville', 'Luna']
{i:j for i,j in enumerate(names)}

{0: 'Harry', 1: 'Hermione', 2: 'Ron', 3: 'Neville', 4: 'Luna'}

In [116]:
"""ages = {
    'kevin': 12,
    'marcus': 9,
    'evan': 31,
    'nik': 31
}

remove marcus and nik to get this output by Dict comp:
    
    output:
    
    {'evan': 31, 'kevin': 12}"""

ages = {
    'kevin': 12,
    'marcus': 9,
    'evan': 31,
    'nik': 31
}
a = {i:ages[i] for i in ages.keys()-{"marcus","nik"}}
print(a)

{'evan': 31, 'kevin': 12}

In [1]:
"""user = {
    'name': 'nik',
    'age': 31,
    'company': 'datagy'
}

replacement of key and values:
    
    {'nik': 'name', 31: 'age', 'datagy': 'company'}"""
user = {
    'name': 'nik',
    'age': 31,
    'company': 'datagy'
}

{i:j for j,i in user.items()}

{'nik': 'name', 31: 'age', 'datagy': 'company'}

In [ ]:
ages = {
    'kevin': 12,
    'marcus': 9,
    'evan': 31,
    'nik': 31
}
{for i in ages if keys.(i)=='kevin'}

In [6]:
food = {"biriyani","meals","curd_rice","tomato_tice","sandwich"}

{i:len(i) for i in food}

{'curd_rice': 9, 'sandwich': 8, 'tomato_tice': 11, 'biriyani': 8, 'meals': 5}

In [12]:
i = "gfg"


dic = {x: {y: x + y for y in i} for x in i}
 
print(dic)

{'g': {'g': 'gg', 'f': 'gf'}, 'f': {'g': 'fg', 'f': 'ff'}}