# `Define Function`

In [2]:
def my_name():
    print("How are you")
my_name()

How are you

In [3]:
def name():
    print("Hello")
name()

Hello

In [6]:
def a(firstname,lastname):
    print(firstname+ " " +lastname)
a('Kavin','N R')
a('Pravin','Kumar')
a('Naveen','Krishna')

Kavin N R
Pravin Kumar
Naveen Krishna

In [7]:
def name(firstname, lastname):
    print(firstname + " ",lastname)
name('Kavin','Kumar')
name('Kiran','Raj')
name('Madan','Kumar')

Kavin  Kumar
Kiran  Raj
Madan  Kumar

In [13]:
def a(first_name,Last_Name,Gender,Age):
    print(first_name + " "+Last_Name+ " "+ Gender+ " " + Age)
a('Kavin','N R','Male','23')
a('Naveen','Krishna','Male','24')
a('Rameshwari','S','Female','48')

Kavin N R Male 23
Naveen Krishna Male 24
Rameshwari S Female 48

# `Return`

In [14]:
def addition(m,n):
    add = m + n
    return add

addition (6,8)

14

In [15]:
def cube(n):
    c = n * n * n
    return c

cube(4)

64

In [16]:
def square(n):
    s = n * n
    return s

square(2)

4

In [1]:
def a(n, a):
    b = n / a
    return b

a(2,3)

0.6666666666666666

In [17]:
def hexa(n,r,t,u):
    h = n * r * t * u
    return h

hexa(2,3,4,5)

120

# `*Args is a keyword`

In [18]:
def numbers(*args):
    for i in args:
        print(i)
    
numbers(1,2,3,4,5,6,7,8,9)
numbers("Kavin",'N R')
numbers('BMW','Audi','Jaquar')

1
2
3
4
5
6
7
8
9
Kavin
N R
BMW
Audi
Jaquar

In [20]:
def z(*args):
    for i in args:
        print(i)
z("Hai")
z("Hello")

Hai
Hello

In [23]:
def z(*args):
    for i in args:
        print(i)
    
z('Ola')
z('Uber')
z('Rapido')

Ola
Uber
Rapido

In [7]:
def name(*args):
    for i in args:
        return i
name("Abc")

'Abc'

In [3]:
# return a youngest child:

def my_func(*kid):
    print('The youngest child is ' + kid[2])
    
my_func('Tom', 'Jerry', 'John')

The youngest child is John

In [9]:
def kavin(*birthyear):
    print("The birth year is", birthyear[2])
    
kavin('19','10','2000')

The birth year is 2000

In [13]:
def kavin(*birthmonth):
    print("The birth month is", birthmonth[1])
    
kavin('19','10','2000')
kavin('31','07','1999')

The birth month is 10
The birth month is 07

In [15]:
# Keyword Argument:

def my_func(**kwargs):
    for i in kwargs:
        print(i , kwargs[i])

my_func (firstname = "Kavin",middlename = 'N R',lastname = 'John')

firstname Kavin
middlename N R
lastname John

In [16]:
def my_func(**kwargs):
    for i in kwargs:
        print(i , kwargs[i])

my_func (firstname = "Kavin",middlename = 'N R',lastname = 'John')
my_func (firstname = "Kavin",middlename = 'N R',lastname = 'John')

firstname Kavin
middlename N R
lastname John
firstname Kavin
middlename N R
lastname John

In [30]:
"""
Fetch an output like this Using Define Function:

name: Alice
age: 25
city: New York
country: Canada
language: French
population: 38000000
color: blue
shape: square
size: large
material: wood"""

def a(**kwargs):
    for i in kwargs:
        print(i, kwargs[i])
        
a(name = ': Alice',Age = ':25',City = ': New york',country = ': Canada',language = ': French' )
a(population = ': 380000000',colour = ': blue',shape = ': square',size = ': large',material = ': wood')

name : Alice
Age :25
City : New york
country : Canada
language : French
population : 380000000
colour : blue
shape : square
size : large
material : wood

In [73]:
def my_func(a,b):
    for i in a,b:
        if a%b==0 or b%a==0:
            return True
        else:
            return False
         
my_func(9,10)

False

In [72]:
def a(name):
        if name=="Mumbai Indians":
            return "MI"
        elif name=="Royal Challengers Bangalore":
            return "RCB"
      

        
a("Mumbai Indians")

'MI'

In [1]:
def a(water):
    if water>=100:
        return "Water is Boiling"
    else:
        return "Water is not boiling"
a(100)

'Water is Boiling'

In [5]:
def senior_citizen(a):
    if a>=60 and a<100:
        print("Eligible for Pension")
    else:
        return "Not a Senior Citizen"
    
senior_citizen(62)

Eligible for Pension

In [7]:
def marks(a):
    if a>=90 and marks<=100:
        return "A+ Grade"
    elif a>=80 and a<=89:
        return "B+ Grade"
    elif a<=70 and a<=79:
        return "C Grade"
    elif a>=60 and a<=69:
        return "D Grade"
    elif a>=50 and a<=59:
        return "Not Fair"
    else:
        return "GOod Luck"

marks(50)

'C Grade'

In [8]:
def pos(a):
    if a>=0:
        return "Positive Number"
    else:
        return "Negative Number"
    
pos(-1)

'Negative Number'

In [17]:
def table(a):
    for i in range(1,11):
        ab = a*i
        print(a,"X",i,"=",ab)
table(2)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [26]:
def a(c,d):
    for i in range(1500,2700):
        if i%5==0 and i%7==0:
            print("Divisible by 7 and 5",i)

a(1501,2502)

Divisible by 7 and 5 1505
Divisible by 7 and 5 1540
Divisible by 7 and 5 1575
Divisible by 7 and 5 1610
Divisible by 7 and 5 1645
Divisible by 7 and 5 1680
Divisible by 7 and 5 1715
Divisible by 7 and 5 1750
Divisible by 7 and 5 1785
Divisible by 7 and 5 1820
Divisible by 7 and 5 1855
Divisible by 7 and 5 1890
Divisible by 7 and 5 1925
Divisible by 7 and 5 1960
Divisible by 7 and 5 1995
Divisible by 7 and 5 2030
Divisible by 7 and 5 2065
Divisible by 7 and 5 2100
Divisible by 7 and 5 2135
Divisible by 7 and 5 2170
Divisible by 7 and 5 2205
Divisible by 7 and 5 2240
Divisible by 7 and 5 2275
Divisible by 7 and 5 2310
Divisible by 7 and 5 2345
Divisible by 7 and 5 2380
Divisible by 7 and 5 2415
Divisible by 7 and 5 2450
Divisible by 7 and 5 2485
Divisible by 7 and 5 2520
Divisible by 7 and 5 2555
Divisible by 7 and 5 2590
Divisible by 7 and 5 2625
Divisible by 7 and 5 2660
Divisible by 7 and 5 2695

In [31]:
def a(b):
    for i in range(0,11):
        print(i)
    
a(2)

0
1
2
3
4
5
6
7
8
9
10

In [33]:
i = 1
while(i<20):
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [1]:
def my_func():
    return [i**2 for i in range(1,26)]
    
my_func()

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625]

In [2]:
a = ['one','seven','three','two','ten']


def b():
    return [(len(i), i.upper()) for i in a if len(i)>3]
b()

[(5, 'SEVEN'), (5, 'THREE')]

In [3]:
string = "Fall is Awesome in Alabama"
a = string.split()

def b():
    return ["%" + string + "%" for i in string.split(' ')]
b()

['%Fall is Awesome in Alabama%',
 '%Fall is Awesome in Alabama%',
 '%Fall is Awesome in Alabama%',
 '%Fall is Awesome in Alabama%',
 '%Fall is Awesome in Alabama%']

In [4]:
['Even', 'Odd', 'Even', 'Odd', 'Even']

def C():
    return ['Even' if i%2==0 else 'Odd' for i in range(5)]
C()

['Even', 'Odd', 'Even', 'Odd', 'Even']

In [11]:



import random

name = str(input("Type your Name"))
user_input = str(input('Enter -  Stone / Paper / Scissor : '))
possible_moves = ['Stone', 'Paper', 'Scissor']
computer_input = random.choice(possible_moves)

def b():
    if user_input==computer_input:
        return "Draw"
    elif user_input=="Scissor" and (computer_input=="Stone"):
        return (f"{name} Wins")
    elif user_input=="Stone" and computer_input=="Paper":
        return (f"{name} Wins")
    elif user_input=="Paper" and computer_input=="Scissor":
        return (f"{name} Wins")
    else:
        return ("Computer Wins")

b()

Type your NameKavin
Enter -  Stone / Paper / Scissor : Stone

'Computer Wins'

In [13]:
# Lambda:

# It is an Anonymous function:

# It has a number of arguments with single state of Expression

# (Syntax) Variable = lambda argument : expression

x = lambda a : a + 10
print(x(3))

13

In [14]:
y = lambda a, b : a * b
print(y(5, 6))

30

In [15]:
z = lambda a, b, c : a * b * c
print(z(2, 3, 4))

24

In [19]:
def my_func(n):
    return lambda a : a * n

my_function1 = my_func(3)

print(my_function1(4))

12

In [22]:
a = 'i am fine'

x = lambda a : a.upper()
print(x(a))

I AM FINE

In [35]:
# 7, 9

x = lambda a,b: a(if a > b) else b
print(x(7,9))

SyntaxError: invalid syntax (50735909.py, line 3)

In [33]:
if 7<9:
    print(9,"is greater")
else:
    print(7,"is greater")

9 is greater

In [37]:
x = lambda a,b: a if a>b else b
print(x(10, 67))

67

In [40]:
a = [1,2,3,4,5]
b = [7,8,9,10,11,12]

x = lambda a,b: a+b
print(x(a,b))

[1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12]