# `Basics Part`

In [1]:
for i in range(5):
    if i==3:
        break
    print(i)

0
1
2

In [2]:
for i in range(5):
    if i==3:
        continue
    print(i)

0
1
2
4

In [3]:
count = 0
for i in range(1,5):
    count = count + 1
    print(count)

1
2
3
4

In [4]:
kavin = int(input("Type Number"))
navin = int(input("Type Number"))
for number in range(kavin,navin+1):
    if number>1:
        for a in range(2, number):
            if number%a==0:
                break
        else:
            print(number)

Type Number1
Type Number30
2
3
5
7
11
13
17
19
23
29

In [22]:
for a in 1,2,3,4,5,6,7,8,9
    if 197%b==0:
        print(197, "Its an Prime Number")
    else:
        print("197, Not a Prime Number")

In [ ]:
num = 197

if num == 1:
    print('It is not a Prime Number')
elif num > 1:

In [97]:
number = 0,1,2,3,4,5
for number in 0:
    print("Outer For Loop Iteration", 0)

TypeError: 'int' object is not iterable

In [2]:
low = int(input("Type Number low"))
upper = int(input("Type Number Upper"))
for i in range(low, upper+1):
    if i>1:
        for x in range(2,i):
            if i%x==0:
                break
        else:
            print(i)

Type Number low0
Type Number Upper30
2
3
5
7
11
13
17
19
23
29

In [10]:
a = int(input("Type Number"))
b = int(input("Type Number"))
c = 0
for i in range(a,b+1):
    if i>1:
        for x in range(2,i):
            if i%x==0:
                break
        else:
            c = c+i
print(c)

Type Number0
Type Number30
129

In [17]:
# Prime Number Finder:
user = int(input("Type Number"))
for i in range(1,200):
    if i>1:
        for x in range(2,i): 
            if i%x==0:
                break
        else:
            if user==i:
                    print(user, "is a prime number")

Type Number2
2 is a prime number

In [19]:
#A1 Iteration Sum
for i in range(0,10):
    if i==5:
        continue
    print("Iteration: ",i)

Iteration:  0
Iteration:  1
Iteration:  2
Iteration:  3
Iteration:  4
Iteration:  6
Iteration:  7
Iteration:  8
Iteration:  9

In [58]:
# Outer For Loop Iteration and Inner For Loop Iteration sum:
for i in range(0,5):
    if i==0:
        for x in range(0,5):
            break
    else: 
        print("Outer For Loop Iteration", 0)
        print("--Inner For Loop Iteration", i)

Outer For Loop Iteration 0
--Inner For Loop Iteration 1
Outer For Loop Iteration 0
--Inner For Loop Iteration 2
Outer For Loop Iteration 0
--Inner For Loop Iteration 3
Outer For Loop Iteration 0
--Inner For Loop Iteration 4

In [62]:
for i in range(0,5)


        break
    else:
        print("--Inner For Loop Iteration", i)

IndentationError: expected an indented block after 'for' statement on line 3 (1203281032.py, line 4)

In [1]:
a = "kavin"
b = 23
print(f" My name is {a}, my age is{b}")

 My name is kavin, my age is23

In [10]:
for kavin in range(0,5):
    print(f"Outer For Loop Iteration : {kavin}")
    for navin in range(0,15):
        if navin==5:
            break
        print(f"-- Inner For Loop Iteration : {navin}")

Outer For Loop Iteration : 0
-- Inner For Loop Iteration : 0
-- Inner For Loop Iteration : 1
-- Inner For Loop Iteration : 2
-- Inner For Loop Iteration : 3
-- Inner For Loop Iteration : 4
Outer For Loop Iteration : 1
-- Inner For Loop Iteration : 0
-- Inner For Loop Iteration : 1
-- Inner For Loop Iteration : 2
-- Inner For Loop Iteration : 3
-- Inner For Loop Iteration : 4
Outer For Loop Iteration : 2
-- Inner For Loop Iteration : 0
-- Inner For Loop Iteration : 1
-- Inner For Loop Iteration : 2
-- Inner For Loop Iteration : 3
-- Inner For Loop Iteration : 4
Outer For Loop Iteration : 3
-- Inner For Loop Iteration : 0
-- Inner For Loop Iteration : 1
-- Inner For Loop Iteration : 2
-- Inner For Loop Iteration : 3
-- Inner For Loop Iteration : 4
Outer For Loop Iteration : 4
-- Inner For Loop Iteration : 0
-- Inner For Loop Iteration : 1
-- Inner For Loop Iteration : 2
-- Inner For Loop Iteration : 3
-- Inner For Loop Iteration : 4

In [15]:
num = 3
print(f"How many iterations you want ?")
print(num)
for i in range(1,4):
    if i<3:
        print(f"Interation:{i}")
        print("This is line before 'pass'")
        print("This is line after 'pass'")
        print("This is line before 'continue'")
    elif i==3:
        print(f"Interation:{i}")
        print("This is line before 'pass'")
        print("This is line after 'pass'")
        print("This is line after condition check for 'continue'")
        print("This is line before 'break'")

How many iterations you want ?
3
Interation:1
This is line before 'pass'
This is line after 'pass'
This is line before 'continue'
Interation:2
This is line before 'pass'
This is line after 'pass'
This is line before 'continue'
Interation:3
This is line before 'pass'
This is line after 'pass'
This is line after condition check for 'continue'
This is line before 'break'

In [15]:
import random

name = str(input("Type your Name"))
user_input = str(input('Enter -  Stone / Paper / Scissor : '))
possible_moves = ['Stone', 'Paper', 'Scissor']
computer_input = random.choice(possible_moves)

if user_input==computer_input:
    print("Draw")
elif user_input=="Scissor" and (computer_input=="Stone"):
    print(f"{name} Wins")
elif user_input=="Stone" and computer_input=="Paper":
    print(f"{name} Wins")
elif user_input=="Paper" and computer_input=="Scissor":
    print(f"{name} Wins")
else:
    print("Computer Wins")

Type your Namek
Enter -  Stone / Paper / Scissor : Paper
Computer Wins

In [12]:
import random

name = str(input("Type your Name"))
user = int(input("Type Number"))
possible_roll = (1,2,3,4,5,6)
computer_input = random.choice(possible_roll)
print(computer_input)
if user==computer_input:
    print("Match Draw")
elif user>computer_input:
    print(f"{name} Wins")
elif computer_input>user:
    print(f"Computer wins")

Type your NameKavin
Type Number5
3
Kavin Wins

In [ ]:
import random 

name = str(input(f" Type your Name"))
user_input=int(input("Type Number 1-6 : "))
possible_moves = 1,2,3,4,5,6
computer_input = randome.choice(possible_moves)

In [2]:
for i in range(1,5):
    for j in range(1,i+1):
        print("*", End=" ")
    print()

TypeError: 'End' is an invalid keyword argument for print()

In [6]:
n = 10
print(n)
n = 50
n=10
print(n)

10
10

In [8]:
n = 2
n = n + 3
print(n)

5

In [3]:
import random

name = str(input("Type your Name"))
user_input = int(input("Type Number"))
possible_moves=[1,2,3,4,5,6]
computer_input = random.choice(possible_moves)
print(computer_input)

if user_input == computer_input:
    print("Match Draw")
elif user_input == 1 and (computer_input==2 or computer_input==3 or computer_input==4 or computer_input==5 or computer_input==6):
    print("Computer Wins")
elif user_input == 2 and (computer_input==3 or computer_input==4 or computer_input==5 or computer_input==6):
    print("Computer Wins")
elif user_input == 3 and (computer_input==4 or computer_input==5 or computer_input==6):
    print("Computer Wins")
elif user_input == 4 and (computer_input==5 or computer_input ==6):
    print("Computer Wins")
elif user_input == 5 and (computer_input==6):
    print("Computer Wins")
elif user_input ==6 and (computer_input ==5 or computer_input==4 or computer_input==3 or computer_input ==2 or computer_input ==1):
    print(f" {name}", "Wins")
elif user_input ==5 and (computer_input ==4 or computer_input==3 or computer_input==2 or computer_input ==1):
    print(f" {name}", "Wins")
elif user_input ==4 and (computer_input ==3 or computer_input==2 or computer_input==1):
    print(f" {name}", "Wins")
elif user_input ==3 and (computer_input ==2 or computer_input==1):
    print(f" {name}", "Wins")
elif user_input ==2 and (computer_input ==1):
    print(f" {name}", "Wins")

Type your NameKavin
Type Number4
3
 Kavin Wins

In [2]:
for i in range(0,50 +1):
    if i%3==0 and i%5==0:
        print("Fizzbuzz")
    elif i%3==0:
        print("Fizz")
    elif i%5==0:
        print("Buzz")
    else:
        print(i)

Fizzbuzz
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizzbuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
Fizzbuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
Fizzbuzz
46
47
Fizz
49
Buzz

In [17]:
a = "welcome to IPCS"
count = 0
for i in a:
    if i ==  " ":
        count = count + 1
print(count)

2

In [73]:
x = [1, 2]
y = [3, 4]
for i in x:
    for j in y:
        print(i,j)

1 3
1 4
2 3
2 4

In [74]:
x = [1,2]
y = [3,4]
z = [5,6]
for a in x:
    for b in y:
        for c in z:
            print(a,b,c)

1 3 5
1 3 6
1 4 5
1 4 6
2 3 5
2 3 6
2 4 5
2 4 6

In [75]:
x = [1,2,3]
y = [3,4,7]
z = [10,11,12]
for i in x:
    for j in y:
        for k in z:
            print(i,j,k)

1 3 10
1 3 11
1 3 12
1 4 10
1 4 11
1 4 12
1 7 10
1 7 11
1 7 12
2 3 10
2 3 11
2 3 12
2 4 10
2 4 11
2 4 12
2 7 10
2 7 11
2 7 12
3 3 10
3 3 11
3 3 12
3 4 10
3 4 11
3 4 12
3 7 10
3 7 11
3 7 12

In [1]:
# Date 26.07.2023

i = 0
while (i <6):
    print(i, end =' ')
    i = i + 1

0 1 2 3 4 5

In [1]:
# Break and Continue:

i = 1

while (i < 10):
    print(i)
    if i==4:
        break
    i = i + 1

1
2
3
4

In [1]:
#A4 Question
i = 10

while (i<301):
    print(i)
    i = i + 10

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300

In [2]:
# Question
i = 7

while (i<106):
    print(i)
    i += 7

7
14
21
28
35
42
49
56
63
70
77
84
91
98
105

In [3]:
# A5 Question
i = 105

while (i>=7):
    print(i)
    i -= 7

105
98
91
84
77
70
63
56
49
42
35
28
21
14
7

In [1]:
# Printing Table Using While Loop:
table = int(input("Type your Number"))
i= 1
while(i<11):
    ab = (table*i)
    print(f"{table} X {i} = {ab}")
    i= i + 1\

Type your Number4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

In [2]:
# Squaring The Numbers using While Loop:
i = 1
while (i<11):
    print(i**2)
    i = i + 1

1
4
9
16
25
36
49
64
81
100

In [3]:
# Squaring the Numbers: 

i = 1
while(i<11):
    print(i, '\t\t\t', i**2)
    i = i + 1

1 			 1
2 			 4
3 			 9
4 			 16
5 			 25
6 			 36
7 			 49
8 			 64
9 			 81
10 			 100

In [1]:
# Print the numbers which are divisible by 13 and not by 3:
i = 100
while(i<500):
    if i%13==0 and i%3!=0:
        print(i)
    i = i + 1

104
130
143
169
182
208
221
247
260
286
299
325
338
364
377
403
416
442
455
481
494

In [1]:
"""Write a Python to print all the odd numbers that falls between
two numbers entered from the User using while loop."""


num1 = int(input("Type the Start Point"))
num2 = int(input("Type the End Point"))
if (num1>num2):
    while(num1<num2):
        if (num2 % 2 != 0):
            print(num2)
        num2 = num2 + 1
else:
    while(num1 < num2):
        if (num1 % 2 !=0):
            print(num1)
        num1 = num1 + 1

Type the Start Point10
Type the End Point20
11
13
15
17
19

In [2]:
"""Write a Program to display sum of  Even numbers separately 
that fall between two numbers accepted from the user"""

num1 = int(input("Type the Start Point"))
num2 = int(input("Type the End Point"))
if (num1>num2):
    while(num1<num2):
        if (num2 % 2 == 0):
            print(num2)
        num2 = num2 + 1
else:
    while(num1 < num2):
        if (num1 % 2 ==0):
            print(num1)
        num1 = num1 + 1

Type the Start Point10
Type the End Point22
10
12
14
16
18
20

In [8]:
"""Write a Program to display sum of odd numbers and Even numbers
separately that fall between two numbers accepted from the user"""

num1 = int(input("Type your Number"))
num2 = int(input("Type your Number"))
so = 0
se = 0

if (num1 > num2):
    while(num2<=num1):
        if num2%2==0:
            se = se + num2
            num2 = num2 + 1
        else:
            so = so + num2
            num2 = num2 + 1
else:
    while(num1 <= num2):
        if num1%2 ==0:
            se = se + num1
            num1 = num1 + 1
        else:
            so = so + num1
            num1=num1 + 1
print(se)
print(so)

Type your Number10
Type your Number100
2530
2475

In [1]:
i = 10

while (i<301):
    print(i)
    i = i + 10

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300

In [ ]:
i = 7

while (i<106):
    print(i)
    i += 7

In [ ]:
# Write a program to print the following series till n terms:
"""2,22,222,2222_______n terms"""
#Example Concept:

for i in range(1, 200000):
    if '2' in str(i):
        print(i)

In [2]:
"""Write a Python Program to print all the Prime numbers that falls between 
two numbers : """

lower_value = int(input("Type the Number - "))
upper_value = int(input("Type the Number - "))

for number in range(lower_value, upper_value +1):
    if number>1:
        for a in range(2, number):
            if number%a ==0:
                break
        else:
            print(number)

Type the Number - 5
Type the Number - 20
5
7
11
13
17
19

In [3]:
"""Write a Program to print the following series
till n terms
2,22,222,2222______n terms"""

n = int(input('Enter the Number : '))
string = '2'

i = 0

while(i < n):
    print(string, end = ' , ')
    string = string + '2'
    i = i + 1

Enter the Number : 8
2 , 22 , 222 , 2222 , 22222 , 222222 , 2222222 , 22222222 ,

In [6]:
"""Write a Program to Print all the Characters in 
a string "PYTHON" using While Loop:"""

string = "PYTHON"
i=0
while(i<=0):
    print(string)
    i = i + 1

PYTHON

In [5]:
# Write a Program to find the sum of the Following Series:
""" 1+8+27.......n terms"""

n = int(input("Enter a Number"))
i = 1
sum = 0

while(i<n):
    j =i**3
    print(j)
    sum = sum + j
    i = i + 1
print(f"Summation - {sum}")

Enter a Number10
1
8
27
64
125
216
343
512
729
Summation - 2025

In [1]:
"""Write a Program to enter the numbers till the user enter ZERO
and at the end it should display the count of positive and negative
numbers entered  """

sum_positive = 0
sum_negative = 0
num = 1

while (num!= 0):
    num = int(input("Type the Number you Need"))
    
    if num>0:
        sum_positive = sum_positive + num
    else:
        sum_negative = sum_negative + num
print(sum_positive)
print(sum_negative)

Type the Number you Need10
Type the Number you Need20
Type the Number you Need0
30
0

In [1]:
"""Write a python program to get the Following Output:
1--49
2--48
3--47


48-2
49-1    """

i = 49
j = 1

while(i>=1):
    print(j,"--",i)
    i = i-1
    j = j + 1

1 -- 49
2 -- 48
3 -- 47
4 -- 46
5 -- 45
6 -- 44
7 -- 43
8 -- 42
9 -- 41
10 -- 40
11 -- 39
12 -- 38
13 -- 37
14 -- 36
15 -- 35
16 -- 34
17 -- 33
18 -- 32
19 -- 31
20 -- 30
21 -- 29
22 -- 28
23 -- 27
24 -- 26
25 -- 25
26 -- 24
27 -- 23
28 -- 22
29 -- 21
30 -- 20
31 -- 19
32 -- 18
33 -- 17
34 -- 16
35 -- 15
36 -- 14
37 -- 13
38 -- 12
39 -- 11
40 -- 10
41 -- 9
42 -- 8
43 -- 7
44 -- 6
45 -- 5
46 -- 4
47 -- 3
48 -- 2
49 -- 1

In [1]:
""" Write a Program to find the sum of following series:
1 + 2 + 6 + 24 + 120 ....n terms"""


num = int(input("Type the Number"))
sum = 0
pr = 1
i = 1

while(i<=num):
    pr = i*pr
    print(pr, end=" , ")
    sum = sum + pr
    i = i + 1
print('=', sum)

Type the Number10
1 , 2 , 6 , 24 , 120 , 720 , 5040 , 40320 , 362880 , 3628800 , = 4037913

In [1]:
"""Write a Program to find the sum of following series:
s = 1 + 4 - 9 + 16 - 25 + 36 - .... n terms"""


num = int(input("Type the Number"))
sum_positive = 1
sum_negative = 0
i = 2

while(i<=num):
    if i%2==0:
        sum_positive = sum_positive + i**2
        i = i + 1
    else:
        sum_negative = sum_negative + i**2
        i = i + 1
print(sum_positive)
print(sum_negative)

Type the Number10
221
164

In [ ]:
"""Write a program to find the sum of following series:
X + X2(Square)/2 + .........Xn(square)/N"""

num = int(input("Type the Number"))

i = 1
sum = 0

while(i<=num):
    if i<num:
        x = i + i**2/i
        sum = sum + x
        i = i + 1
        print(sum)

Type the Number4
2.0
6.0
12.0

In [ ]:
# List:
# Indexing and Slicing:
# List:
--It is a COntainer
--It can take multiple data types
-- List is mutable(you can replace or add data in list)
-- It comes with square braces

In [1]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a)
print(type(a))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
<class 'list'>

In [3]:
#? Why double quotes is not there for true
a = ["kavin",True, 2.0]
print (a)

['kavin', True, 2.0]

In [4]:
a = True
print(type(a))

<class 'bool'>

In [5]:
a = [1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [6]:
a.append(6)
print(a)

[1, 2, 3, 4, 5, 6]

In [7]:
a.append(7)
print(a)

[1, 2, 3, 4, 5, 6, 7]

In [8]:
a.append("Kavin")
print(a)

[1, 2, 3, 4, 5, 6, 7, 'Kavin']

In [9]:
a.extend(["Navin","Pravin"])
print(a)

[1, 2, 3, 4, 5, 6, 7, 'Kavin', 'Navin', 'Pravin']

In [10]:
a.remove(6)
print(a)

[1, 2, 3, 4, 5, 7, 'Kavin', 'Navin', 'Pravin']

In [11]:
ab = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
print(ab)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [12]:
ab[-1]

16

In [13]:
ab[0]

1

In [14]:
ab[5]

6

In [15]:
ab[:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [16]:
ab[:9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
ab[0:]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [18]:
ab[-2]

15

In [19]:
ab.insert(1,12)
print(ab)

[1, 12, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [20]:
ab.clear()

In [21]:
print(ab)

[]

In [22]:
# Print the List which contains letter "A":

fruits = ["Apple","Banana","Cherry","Kiwi"]
for a in fruits:
        if a in "Banana" and "Apple":
            print("Banana","Apple")

Banana Apple

In [23]:
# Print the List except Cherry:

fruits = ["apple","Banana","Cherry","Kiwi"]
for i in fruits:
    if "a" in i or "i" in i:
        print(i,end = " ")

apple Banana Kiwi

In [24]:
a = []
print(a)

[]

In [25]:
a.append("apple")
print(a)

['apple']

In [26]:
a.append("banana")
print(a)

['apple', 'banana']

In [27]:
a.append("Kiwi")
print(a)

['apple', 'banana', 'Kiwi']

In [28]:
fruits = ["apple","Banana","Cherry","Kiwi"]
b = []
for i in fruits:
    if "a" in i or "i" in i:
        print(i,end = " ")
        b.append(i)
print(b)

apple Banana Kiwi ['apple', 'Banana', 'Kiwi']

In [30]:
fruits = ["apple","Banana","Cherry","Kiwi"]
b = []
for i in fruits:
    if "a" in i or "i" in i:
        b.append(i)
print(b)

['apple', 'Banana', 'Kiwi']

In [32]:
-1+3+5-9+77-8

67

In [31]:
a = [-1,3,5,-9,77,-8]
sum = 0

for i in a:
    sum = sum + i
print(f"Summation = {sum}")

Summation = 67

In [34]:
-1*3*5*-9*77*-8

-83160

In [33]:
# In this List calculate the summation using for loop:
a = [-1,3,5,-9,77,-8]
sum = 1

for i in a:
    sum = sum * i
print(f"Summation = {sum}")

Summation = -83160

In [35]:
a = [1,5,17,99,102,34]
i = 0
for i in a :
    if 102>1 and 102>5 and 102>5 and 102>17 and 102>99 and 102>34:
        i = i + 1
print("102 is the Largest Value")

102 is the Largest Value

In [37]:
# Doubt Clarify:

a = [1,5,17,99,102,34]

maximum = a[0]

for i in a:
    if i < maximum:
        maximum = i
print(maximum)

1

In [38]:
# Spilt will not work for list[]:

a = 'i am here'
a.split(' ')

['i', 'am', 'here']

In [39]:
# Write a python program to check a list is empty or not :  

a = [1,2,3,4,5]

if a ==[ ]:
    print(a, "empty")
else:
    print("Not an empty List")

Not an empty List

In [40]:
"""Write a Python program to find the list of words that are 
longer than than n from a given list of words

Sample word = Find the List of Words that are Longer than n from 
given list of words"""

num = int(input("Enter a Number"))
word = "Find the List of Words that are Longer than n from given list of words"
text = word.split( " ")
new_list=[]

for i in text:
    if len(i)>num:
        new_list.append(i)
print(new_list)

Enter a Number4
['Words', 'Longer', 'given', 'words']

In [46]:
kav = [1,2,3,4,5,6,7,8,9]

In [47]:
print(kav)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
kav.insert(0,100)
print(kav)

[100, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
"""Write a Program that get two lists as input
and check if they have at least one common member

list1=[1,2,3,4,5]
list2=[5,6,7,8,9]"""

list_1= [1,2,3,4,5]
list_2= [5,6,7,8,9]

for i in list_1:
    for j in list_2:
        if i == j:
            print(i)

5

In [1]:
"""Python Program to square each element of a list:
Given: x=[2,3,4,5,6]"""

x = [2,3,4,5,6]
for i in x:
    i = i**2
    print(i, end= " ")

4 9 16 25 36

In [2]:
"""Write a program to count the number of items stored in a list
num=[23,34,"hello",32,56]

Expected Output
Total count of items are:5"""

num=[23,34,"hello",32,56]
a = 0
for i in num:
    a = a + 1
print(f"Total Count of items are: {a}")

Total Count of items are: 5

In [3]:
"""Write a program to print all the elements of a list in single line: 
num = [23,24,54,34]

Expected Output
23 24 54 34"""


num = [23,24,54,34]

for i in num:
    print(i, end= " ")

23 24 54 34

In [ ]:
a = 10

for i in a: