In [1]:
#1 Sum:
"""Consider the following list and dictionary in your code:

a_list = list(range(1, 11))
a_dictionary = {
1 : 'one',
2 : 'two',
3 : 'three',
4 : 'four',
5 : 'five',
6 : 'six',
7 : 'seven',
8 : 'eight',
9 : 'nine',
10 : 'ten'}



(a) Use a list comprehension that iterates over a_list, 
prints a list composed of each value in a_list multiplied by 10.


The desired list must be like this:

[ 10, 20, 30, 40, 50, 60, 70, 80, 90, 100 ]"""

a_list = list(range(1,11))
[i*10 for i in a_list]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [2]:
"""(b) Use a list comprehension that iterates over a_list, 
prints a list composed of odd numbers from 1 to 9.

The desired list must be like this:

[ 1, 3, 5, 7, 9 ]"""

[ i for i in a_list if i%2!=0]

[1, 3, 5, 7, 9]

In [3]:
'''(c) Using a list comprehension which iterates over a_list
and whose output expression accesses a value from a dictionary,
print a list composed of the text form of each even number from 2 to 10,
e.g.,
The desired list must be like this:

[ 'two', 'four', 'six', 'eight', 'ten' ]'''

[ i for i in a_list if i%2!=0]

[1, 3, 5, 7, 9]

In [5]:
'''(d) Prompt the user for a number, which will be returned from input 
as a string data type. Strings can be iterated over like lists,
such that the loop repeats for each character in the string.
Using a list comprehension which iterates over the user-entered string 
and whose output expression accesses values from a_dictionary, 
print a list of the text form of each digit from the user-entered string, 
e.g.,

Enter a number: 195
[ 'one', 'nine', 'five' ]'''

string = input('Enter the Number : ')

a_dictionary = {
1 : 'one',
2 : 'two',
3 : 'three',
4 : 'four',
5 : 'five',
6 : 'six',
7 : 'seven',
8 : 'eight',
9 : 'nine',
10 : 'ten'}

[a_dictionary[int(i)] for i in string]

Enter the Number : 123

['one', 'two', 'three']

In [8]:
'''(f) Using the same user-entered number and list comprehension as
above, also print the text form of the digits in a single string 
(using the string join function) with a dash 
between each text form of the digit, e.g.,

Output:
one-nine-five'''



string = input('Enter the Number : ')

a = [a_dictionary[int(i)] for i in string]
b = "-"
c = b.join(a)
print(c)

Enter the Number : 123
one-two-three

In [10]:
#2 Sum:
'''list of lists is given:

SPL_Patrons = [
['Kim Tremblay', 134, True],
['Emily Wilson', 42, False],
['Jessica Smith', 215, True],
['Alex Roy', 151, True],
['Sarah Khan', 105, False],
['Samuel Lee', 220, True],
['William Brown', 24, False],
['Ayesha Qureshi', 199, True],
['David Martin', 56, True],
['Ajeet Patel',69, False]
]
Each sublist contains three pieces of information about the
library patrons at Saskatoon Public Library
(SPL) - patron's name, the number of books they 
have borrowed throughout the last year,and a Boolean value indicating 
whether they are under 20.

(a) Use a single list comprehension to create a list of the patron
names who borrowed more than 100 books last year.'''

SPL_Patrons = [
['Kim Tremblay', 134, True],
['Emily Wilson', 42, False],
['Jessica Smith', 215, True],
['Alex Roy', 151, True],
['Sarah Khan', 105, False],
['Samuel Lee', 220, True],
['William Brown', 24, False],
['Ayesha Qureshi', 199, True],
['David Martin', 56, True],
['Ajeet Patel',69, False]
]
[i[0] for i in SPL_Patrons if i[1]>100]

['Kim Tremblay',
 'Jessica Smith',
 'Alex Roy',
 'Sarah Khan',
 'Samuel Lee',
 'Ayesha Qureshi']

In [13]:
'''b) Use a single list comprehension to create a list of the
patron names who are not under 20.'''

[i[0] for i in SPL_Patrons if i[2]==False]

['Emily Wilson', 'Sarah Khan', 'William Brown', 'Ajeet Patel']

In [14]:
'''(c) Suppose that a patron saves on average $11.95 by 
borrowing a book instead of buying it. Use a single 
list comprehension to create a list of the amount saved for each patron.'''

[i[1]*11.95 for i in SPL_Patrons]

[1601.3,
 501.9,
 2569.25,
 1804.4499999999998,
 1254.75,
 2629.0,
 286.79999999999995,
 2378.0499999999997,
 669.1999999999999,
 824.55]

In [15]:
'''(d) Use a single list comprehension to create a list of lists where 
each sublist consists of a patron's name and the total amount he/she
saved last year as in part (c)), but only include those patronswho are
under 20.'''

[(i[0],i[1]*11.95) for i in SPL_Patrons if i[2]==False]

[('Emily Wilson', 501.9),
 ('Sarah Khan', 1254.75),
 ('William Brown', 286.79999999999995),
 ('Ajeet Patel', 824.55)]

In [17]:
#3 Sum:
"""
A list of lists is given:

prairie_pirates = [
['Tractor Jack', 1000, True],
['Plowshare Pete', 950, False],
['Prairie Lily', 245, True],
['Red River Rosie', 350, True],
['Mad Athabasca McArthur', 842, False],
['Assiniboine Sally', 620, True],
['Thresher Tom', 150, True],
['Cranky Canola Carl', 499, False]
]
Each sublist contains three pieces of information on one 
famous prairie pirate- their pirate name (pirates can have secret 
identities too!), the number of sacks of assorted grains they have 
plundered from unsuspecting farmers in the last year, and a 
Boolean value indicating whether they like parrots.

(a) Use a single list comprehension to create a list of the pirate names
who plundered more than 400 sacks of assorted grains."""

prairie_pirates = [
['Tractor Jack', 1000, True],
['Plowshare Pete', 950, False],
['Prairie Lily', 245, True],
['Red River Rosie', 350, True],
['Mad Athabasca McArthur', 842, False],
['Assiniboine Sally', 620, True],
['Thresher Tom', 150, True],
['Cranky Canola Carl', 499, False]
]

[i[0] for i in prairie_pirates if i[1]>400]

['Tractor Jack',
 'Plowshare Pete',
 'Mad Athabasca McArthur',
 'Assiniboine Sally',
 'Cranky Canola Carl']

In [18]:
"""(b) Use a single list comprehension to create a list of the pirate
names who don't like parrots."""

[i[0] for i in prairie_pirates if i[2]==False]

['Plowshare Pete', 'Mad Athabasca McArthur', 'Cranky Canola Carl']

In [19]:
"""(c) Suppose that the average market value of a sack of grain is $42. 
Use a single list comprehension to create a list of the market values 
of each pirate's grain."""

[ i[1]*42 for i in prairie_pirates]

[42000, 39900, 10290, 14700, 35364, 26040, 6300, 20958]

In [20]:
"""(d) Use a single list comprehension to create a list of
lists where each sublist consists of a pirate's name 
and the value of his/her plundered sacks of grain 
(calculate grain values as in part (c)),
but only include those pirates who like parrots."""

[(i[0],i[1]*42) for i in prairie_pirates if i[2] ==True]

[('Tractor Jack', 42000),
 ('Prairie Lily', 10290),
 ('Red River Rosie', 14700),
 ('Assiniboine Sally', 26040),
 ('Thresher Tom', 6300)]