In [6]:
lower_value = int(input("Type the Number - "))
upper_value = int(input("Type the Number - "))

for number in range(lower_value, upper_value +1):
    if number>1:
        for a in range(2, number):
            if number%a ==0:
                break
        else:
            print(number)

Type the Number - 1
Type the Number - 30
2
3
5
7
11
13
17
19
23
29

In [5]:
i = 0

while (i<10):
    print(i)
    if i==4:
        break
    i = i + 1

0
1
2
3
4

In [10]:
i = 0

while(i<10):
    i = i+1
    if i==5:
        break
    print(i)

1
2
3
4

In [11]:
i = 2
while (i<20):
    i = i + 1
    if i ==4:
        break
    print(i)

3

In [12]:
i = 2

while(i<20):
    i = i + 2
    if i==10:
        break
    print(i)

4
6
8

In [13]:
i = 1

while(i<10):
    print(i)
    if i ==8:
        break
    i = i + 1

1
2
3
4
5
6
7
8

In [14]:
i = 1

while(i<10):
    print(i)
    if i ==8:
        break
    i = i + 1

1
2
3
4
5
6
7
8

In [15]:
i = 1

while(i<25):
    i = i + 1
    if i ==10:
        break
    print(i)

2
3
4
5
6
7
8
9

In [4]:
num1 = int(input("Type the Start Point"))
num2 = int(input("Type the End Point"))
if (num1>num2):
    while(num1<num2):
        if (num2 % 2 == 0):
            print(num2)
        num2 = num2 + 1
else:
    while(num1 < num2):
        if (num1 % 2 ==0):
            print(num1)
        num1 = num1 + 1

Type the Start Point10
Type the End Point20

In [ ]:
num1 = int(input("Type the Start Point"))
num2 = int(input("Type the End Point"))
so= 0
se = 0
if (num1>num2):
    while(num1<num2):
        if (num2 % 2 == 0):
            print(num2)
        num2 = num2 + 1
else:
    while(num1 < num2):
        if (num1 % 2 ==0):
            print(num1)
        num1 = num1 + 1

In [5]:
num1 = int(input("Type your Number"))
num2 = int(input("Type your Number"))

if (num1>num2):
    while(num1<num2):
        if num2%2==0:
            print(num2)
        num2 = num2 + 1
else:
    while(num1<num2):
        if num1%2==0:
            print(num1)
        num1 = num1 + 1

Type your Number10
Type your Number30
10
12
14
16
18
20
22
24
26
28

In [26]:
num1 = int(input("Type your Number"))
num2 = int(input("Type your Number"))
so = 0
se = 0

if (num1 > num2):
    while(num2<=num1):
        if num2%2==0:
            se = se + num2
            num2 = num2 + 1
        else:
            so = so + num2
            num2 = num2 + 1
else:
    while(num1 <= num2):
        if num1%2 ==0:
            se = se + num1
            num1 = num1 + 1
        else:
            so = so + num1
            num1=num1 + 1
print(se)
print(so)

Type your Number10
Type your Number30
220
200

In [ ]:
i = 100

while(i<500):
    if i%13==0 and i%3!=0:
        print(i)
        i = i + 1

In [ ]:
i = 100
while(i<500):
    if i%13==0:
        print(i)
    i = i + 1

In [5]:
"""Python Dictionary to square of numbers from 1 to 10"""
a = {}

for i in range(1, 11):
    a[i] = i**2
print(a, end="")

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [33]:
"""Write a Python Program to replace words from dictionary

val  = 'ipcs computer education'
dic = {'computer':'software'
        'education': 'solution'}
        
Output: 
Original String: ipcs computer education
Replaced String : ipcs software education"""

a  = 'ipcs computer education'
dic = {'computer':'software',
        'education': 'solution'}

for i i

dict_values(['software', 'solution'])

In [35]:
a  = 'ipcs computer education'
dic = {'computer':'software',
        'education': 'solution'}

dic.pop()

('education', 'solution')

In [45]:
a  = 'ipcs computer education'
dic = {'computer':'software',
        'education': 'solution'}

a.split(' ')
print("Original String:",a)

for i in dic:
    if i in a.split(" "):
        dic = dic.update("software")

Original String: ipcs computer education

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [1]:
3+2*5

13

In [3]:
3+2*2

7

In [4]:
a= "3.0"
print(type(a))

<class 'str'>

In [5]:
int(true)

NameError: name 'true' is not defined

In [6]:
'1'+'1'

'11'

In [7]:
str(1) + str(1)

'11'

In [8]:
"123".replace('12','ab')

'ab3'

In [13]:
"kavin".replace("kavi","k")

'kn'

In [16]:
 x = 2/2
print(type(x))

<class 'float'>

In [18]:
x = 2/2
y = x[:]
print(y)

TypeError: 'float' object is not subscriptable

In [22]:
a = (("disco",10))
len(a)

2

In [23]:
"A" in {'A','B'}

True

In [25]:
v = {'1','2'}
v.add("3")
print(v)

{'1', '2', '3'}

In [26]:
len([sum([0,0,1])])

1

In [28]:
L =(1,3,2)
sorted(L)

[1, 2, 3]

In [29]:
c = add1(2)
c = add1(10)

NameError: name 'add1' is not defined

In [32]:
def print(A):
    for a in A:
        print(a + "1")
        print(["a","b","c"])
print(1)

TypeError: 'int' object is not iterable

In [3]:
X=np.array([[1,0],[0,1]])
Y=np.array([[2,1],[1,2]]) 
Z=np.dot(X,Y)

NameError: name 'np' is not defined

In [7]:
Name = "EMILY"
Name.find("E")

0

In [13]:
"1,2,3,4".split(',')

['1', '2', '3', '4']

In [20]:
for n in range(0,2):
    print(file1.readline())

NameError: name 'file1' is not defined